/**
 *
 * Font embedding & global Mixins
 *
 */


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$fontFamily: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamilyCondensed: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin text($weight:"normal") {
    color: $clText;
    font-family: $fontFamily;
    font-size: 14px;
    line-height: 125%;
    font-weight: 400;
    text-transform: normal;
    font-smoothing:antialiased;

    @if ($weight == "bold") {
        font-weight: 700    ;
    }
    @if ($weight == "condensed") {
        font-family: $fontFamilyCondensed;
        font-weight: 300;
    }
  
}