/**
 *
 * navbar-component
 *
 */

body { @include see('secondary') }

// component variables
$navbar-height: v-rhythm(10);

// component
@include component(navbar) {
    // dev-styles
    @include see('secondary');
    
    // structure
    position: absolute;
    top:0; left: 0; right: 0;
    height: $navbar-height;
    @include break();
    
    // parts of the navbar-component
    
    @include part(brand) {
        // structure
        position: relative;
        height: $navbar-height;
        float: left;
        padding-left: h-rhythm(3);
        padding-right: h-rhythm(8);

        // theme-styles
        background-color: get-color('background');
        border-bottom-right-radius: $navbar-height;

        // hack to vertical align image 
        &:before {
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }
        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

    @include part(menue) {
        // dev-styles
        @include see();

        // structure
        position: relative;
        float: left;
        height: $navbar-height;
        margin: 0;
        padding: 0;
        &>li { 
            // structure
            @include see();
            display: inline-block;
            position: relative;
            vertical-align: middle;
            line-height: $navbar-height;

            a {
                @include see('secondary');
                // structure
                display: inline-block;

                // theme-styles
            }

        }

        // theme-styles
        list-style-type: none;

        // options of the menue-component
        @include option(right) {
            // structure
            float: right;
        }

        // parts of the menue-component
        
        @include part(sub) {
            // dev-styles
            @include see();

            // structure
            position: absolute;
            top: $navbar-height; left:0;
            padding: 0;
            &>li {
                line-height: 125%;
            }
            
            // theme-styles
            list-style-type: none;
        }
    }
}
