/**
 *
 * Mixin-helpers for development
 *
 */
 
// makes an element visible
see(see_color = rgb(50,50,50))
    background-color: rgba(see_color, 0.1)

align-child-vertical(child_element)
    &:before 
        content        : ' '
        display        : inline-block
        vertical-align : middle
        height         : 100%
    {child_element} 
        display        : inline-block
        vertical-align : middle


    
