/**
 *
 * BackendContent component
 *
 */

/* component variables */

/* component definition */
.BackendContent
    // structure
    height : 100%
    // theme-style
    background-color : color.foreground
