/**
 *
 * Buttons component
 *
 */

/* component variables */

/* component definition */
.Button
.Button:visited
    // structure
    display : inline-block;
    padding : rhythm(2) rhythm(5)
    // theme-style
    color : color.text_negative
    type-family('bold')
    type-size('small')
    text-transform   : uppercase
    text-decoration  : none
    border-radius    : rhythm(1)
    background-color : color.primary
    border : none

.Button:hover
    // theme-style
    background-color : lighten(color.primary, 30%)
    

