/**
 *
 * Clients component
 *
 */
 
/* component variables */
clients_height = rhythm(15)

/* component definition */
.Clients
    // structure
    height   : clients_height
    overflow : hidden
    // theme-styles
    background-color : color.background
    box-shadow : 0 0 10px rgba(color.shadow, 0.75)

.Clients__client
    // structure
    lost-column : 1/6
    
