/**
 *
 * ContactMaker component
 *
 */

/* component variables */

/* component definition */
.ContactMaker
    // structure
    position   : relative
    z-index    : layer.contactmaker._body
    padding    : rhythm(15) 0 rhythm(17)
    text-align : center
    // theme-style
    background-color : color.foreground

.ContactMaker h3
    // structure
    margin-bottom : rhythm(4)
    // theme-style
    color : color.text
    type-family(light)
    type-size(bigger)
    text-transform : uppercase
