/**
 *
 * Filmhero component
 *
 */
 
// component definition
.Filmhero
    // structure
    absolute: top right bottom left
    z-index: layer.teaser.filmhero
    // theme-style
    background: url('/images/filmcollection.jpg') center -250px no-repeat
