/**
 *
 * Filmhero component
 *
 */
 
// component definition
.Filmhero
    // structure
    absolute: top right bottom left
    z-index: layer.teaser.folation.filmhero
    // theme-style
    background: url('/images/teaser/filmcollection.jpg') center -250px no-repeat
