/**
 *
 * Foreground component
 *
 */

/* component variables */

/* component definition */
.Foreground
    // structure
    padding : rhythm(10) 0
    // theme-style
    background-color : color.foreground
    
.Foreground__center
    // structure
    lost-center : 960px