/**
 *
 * Loginformular component
 *
 */

/* component variables */

/* component definition */
.Loginformular
    // structure
    absolute    : top 15% left 50%
    z-index : 100
    margin-left : rhythm(50) * (-1)
    width       : rhythm(100)
    text-align  : center

.Loginformular header
    // structure
    margin-bottom : rhythm(8)

.Loginformular input[type="text"]
.Loginformular input[type="password"]
    // structure
    text-align : center
    
.Loginformular .Formular
    // structure
    padding : rhythm(5) 10%
    // theme-style
    background-color : rgba(lighten(color.background, 50%), 0.9)
    border-radius    : rhythm(2)
    box-shadow       : 0 5px 5px darken(color.primary, 40%)

.Loginformular input[type="text"]
    // theme-style
    color : color.primary
