/**
 *
 * Loginpage component
 *
 */

/* component variables */

/* component definition */
.Loginpage
    // structure
    absolute   : top right bottom left
    z-index : -10
    // theme-style
    background        : url('/images/slides/slide-2.jpg') 50%
    background-size   : cover
    background-repeat : no-repeat

.Loginpage:before 
    // structure
    content : ' '
    absolute : top right bottom left
    // theme-style
    background-color : rgba(color.primary, 0.75)