/**
 *
 * Partners component
 *
 */

/* component variables */

/* component definition */
.Partners
    // structure
    padding : rhythm(8)
    text-align : center
    // theme-style
    background-color : color.foreground
    
.Partners img 
    // structure
    margin : rhythm(2) rhythm(5)