/**
 *
 * Product component
 *
 */

/* component variables */

/* component definition */
.Product
    padding     : rhythm(25) 0 rhythm(25)
    lost-center : 960px
    text-align  : center
    
.Product h4
    // structure
    margin-top : rhythm(10)
    // theme-style
    color : color.primary
    type-family(light)
    type-size(bigger)

.Product h5
    // structure
    margin-top : rhythm(5)
    // theme-style
    type-family(bold)
    type-size()

.Product h6
    // structure
    margin-top : rhythm(3)
    margin-bottom : 0
    // theme-style
    color : color.primary
    type-family(bold)
    type-size()    

.Product h6 ~ p
    margin : 0

.Product p
    // structure
    margin-top    : rhythm(8)
    // theme-style
    color : color.text
    type-family()
    font-size   : type.size.default
    line-height : type.line_height.bigger

.Product p.important
    // structure
    padding : rhythm(3) 0
    // theme-style
    color : color.primary
    type-size(big)

.Product p ~ p
    // structure
    margin : 0

.Product p strong
    type-family(bold)
    
    
