/**
 *
 * Sidebar component
 *
 */

/* component variables */
sidebarWidth = rhythm(15)

/* component definition */
.Sidebar
    // structure
    fixed       : top bottom left
    width       : sidebarWidth
    // theme-style
    background-color : color.secondary
    box-shadow       : 3px 0 6px lighten(color.shadow, 50%)

.Sidebar>header
    // structure
    position   : relative;
    z-index    : 0
    padding    : rhythm(2) 0
    text-align : center
    // theme-style
    background-color : color.primary
    
.Sidebar__user
    // structure
    position   : relative;
    z-index    : -1
    height     : sidebarWidth
    text-align : center

.Sidebar__user header
    // structure
    display : inline-block
    width   : 100%
    padding : rhythm(2) 0
    // theme-style
    color : darken(color.secondary, 35%)
    type-family(bold)
    type-size(big)
    background-color : lighten(color.secondary, 10%)
