/**
 *
 * Sidebar component
 *
 */

/* component variables */
sidebarWidth = rhythm(15)

/* component definition */
.Sidebar
    // structure
    fixed       : top bottom left
    padding-top : rhythm(2)
    width       : sidebarWidth
    // theme-style
    background-color : color.secondary
    box-shadow : 3px 0 3px lighten(color.shadow, 20%)

.Sidebar header
    // structure
    margin-bottom : rhythm(2)
    text-align    : center
    
.Sidebar__user
    // structure
    height     : sidebarWidth
    text-align : center

.Sidebar__user header
    // structure
    display : inline-block
    width   : 100%
    padding : rhythm(2) 0
    // theme-style
    color : darken(color.secondary, 35%)
    type-family(bold)
    type-size(bigger)
    border-bottom    : 3px solid darken(color.secondary, 10%)
    border-top       : 3px solid darken(color.secondary, 10%)
    background-color : lighten(color.secondary, 10%)
