/**
 *
 * Table component
 *
 */
 
/* component variables */

/* component definition */
.Table
    // structure
    width : 100%
    
.Table td 
    // structure
    lost-column : 1/5
    
.Table thead td
    // theme-style
    color : color.text
    type-family(bold)
    type-size(small)
    text-transform : uppercase

.Table thead
    // structure
    height : rhythm(6)
    // theme-style
    border-bottom : 2px solid darken(color.foreground, 25%)
