/**
 *
 * Stylus main-file
 *
 */
 
// vendor packages
@import 'nib'
 
// Global settings & variables
@import 'base/rhythm'
@import 'base/colors'
@import 'base/layers'
@import 'base/typographic'

// Utils
@import 'utils/dev-helpers'
@import 'utils/border-box'

// styles on global elements
@import 'base/global-styles'

// Components
@import 'components/navbar.styl'