/**
 *
 * Stylus main-file
 *
 */
 
// vendor packages
@import 'nib'
 
// Global settings & variables
@import 'base/rhythm'
@import 'base/colors'
@import 'base/layers'
@import 'base/typographic'

// Utils
@import 'utils/dev-helpers'
@import 'utils/border-box'

// styles on global elements
@import 'base/global-styles'

// Components
@import 'components/Button'
@import 'components/Navbar'
@import 'components/Slider'
@import 'components/Clients'
@import 'components/Teaser'
@import 'components/Teaser-folation'
@import 'components/Teaser-sunprotection'
@import 'components/Filmhero'
@import 'components/Hero'
@import 'components/Product'
@import 'components/ContactMaker'
@import 'components/Benefits'
@import 'components/PictureWall'
@import 'components/Partners'
@import 'components/Foreground'
@import 'components/Formular'
@import 'components/Loginpage'
@import 'components/Loginformular'
@import 'components/Cardsgallery'
@import 'components/Cardsgallery'
@import 'components/Footer'

// Backend components
@import 'components/Sidebar'
@import 'components/Backendnav'
@import 'components/BackendContent'
@import 'components/Table'
@import 'components/Modal'