/**
 *
 * Global color-variables
 *
 */


// brand-colors
$clPrimary:         rgb(217, 0, 17); 
$clSecondary:       rgb(96, 96, 96); 
$clSecondaryDark:   rgb(48, 48, 48); 
$clSecondaryLight:  rgb(220, 220, 220); 

// app-colors
$clPaper:           rgb(255, 255, 255);
$clNeutral:         $clSecondaryLight;

// text-colors
$clText:            $clSecondaryDark;
$clTextNegative:    $clPaper;