/**
 *
 * Global color definitions
 *
 */
 
 color = {
    primary        : rgb(217, 0, 17)
    secondary      : rgb(96, 96, 96)
    secondary_dark : rgb(48, 48, 48)
    foreground     : rgb(220, 220, 220)
    background     : rgb(255, 255, 255)
    shadow         : rgb(0, 0, 0)
    text           : rgb(48, 48, 48)
    text_negative  : rgb(255, 255, 255)
    danger         : darken(rgb(217, 0, 17), 15%)
 }
 
