/**
 *
 * Variabels to store z-indexes at one place
 *
 */

layer = {
    navbar : 1000
    slider : {
        _body    : 900
        images   : 910
        headline : 920
    }
    clients : 800
    teaser  : {
        folation : {
            _body    : 700
            filmhero : 701
            body     : 705
        }
        sunprotection : {
            _body : 710
        }        
    } 
    hero : {
        _body   : 500
        picture : 550
        filter  : 560
        caption : 580
        title   : 590
    }
    contactmaker : {
        _body : 400
    }
    benefits : {
        _body      : 300
        background : 310
        content    : 350
    }
}
