/**
 *
 * Variabels to store z-indexes at one place
 *
 */

layer = {
    navbar : 1000
    slider : {
        _body    : 900
        images   : 910
        headline : 920
    }
    clients : 800
    teaser  : {
        folation : {
            _body    : 790
            filmhero : 791
            body     : 795
        }
        sunprotection : {
            _body : 780
        }
        protection : {
            _body       : 760
            hero        : 761
            title : {
                background : -1
                text       : 764
            }
            description : 765
        }
        bicycle : {
            _body       : 750
            background  : 751
            description : 755
        }        
    } 
    hero : {
        _body   : 500
        picture : 550
        filter  : 560
        caption : 580
        title   : 590
    }
    contactmaker : {
        _body : 400
    }
    benefits : {
        _body      : 300
        background : 310
        content    : 350
    }
}
